h1 {
  text-align: center;
  margin: 20px auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
}

.enhancer {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enhancer p{
  text-align: left;
}


.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.preview {
  width: 400px;
  height: auto;
  background-color: #fff; 
  border-radius: 10px; 
}

.control {
  margin: 0 20px;
  padding: 1%;
  background-color: #ccc;
  border-radius: 10px;
  width: 400px;
}


.form {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
}

.form-label {
  text-align: center;
  margin: 0 auto;
}

.radio {
  display: flex;
  justify-content: space-around;
}

.formCheck {
  margin: 0;
  text-align: left;
  flex-direction: row;
}

.textArea {
  margin: 5px auto;
}

Button {
  margin-top: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.loading-block {
  padding: 2%;
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 400px;
  text-align: left;
}

.advice {
  margin:0;
  font-style: italic;
  font-size: 87%;
}


.dots::after {
  content: '';
  display: inline-block;
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 3%;
}
.ready .dropzone {
  margin: 20px auto;
}

.disclaimer {
  padding: 3%;
}
