h1 {
  text-align: center;
  margin: 20px auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
}

.enhancer {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.dropzone {
  border: 2px dashed #ccc;
  width: 400px;
  height: 400px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.preview {
  width: 400px;
  height: auto;
  border: 2px dashed #ccc;
  background-color: #fff; 
  border-radius: 10px; 
}

.control {
  margin: 0 20px;
  background-color: #ccc;
  border-radius: 10px;
  width: 400px;
}

.form {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px auto;
}

.selectedFile {
  margin: 20px 10px;
}

.formCheck {
  margin: 10px auto;
  text-align: left;
}

.textArea {
  margin: 20px auto;
}